# Archivos de registro del Bot AX
registro_*.txt
registro_procesamiento.txt

# Archivos de depuración y capturas
debug_*.png
vista_principal.png
last_ocr_capture.png
debug_ocr_pos*.png

# Archivos de configuración locales
config_sectores.json
tesseract_path.local.txt
python_cmd.local.txt

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
env/
venv/
ENV/

# Entorno de Construcción y Salida
dist/
build/
*.exe
*.dist/
*.onefile-build/
nuitka-crash-report.xml

# Archivos Locales y de Usuario
logs/
license.key
*.lnk
10.2.0
vbs_path.vbs
create_shortcut.vbs
update_bot.bat
